
body{
    margin: 0px; /* У элемента body по умолчанию были внешние отступы */
    font-family: Arial, sans-serif;  /* Шрифт Arial или какой-либо другой без засечек */
}

.body-container{
    max-width: 1200px; /* Если окно меньше, то float блоки перестраиваются друг под друга */
    margin: 0px auto;  /* Центрирование по горизонтали */
}

/*====================================================================*/
/*                                                             header */
/*====================================================================*/

.header{
    background-color: #445162;
    color: white;  /* Цвет текста */
    padding: 50px;   /* внутренний отступ */
    box-sizing: border-box;  /*width(height) = content+padding+border */
    width: 100%;    /* Ширина элемента 100% от ширины родителя */
 }

/* Так как всем дочерним элементам блока .header задано свойство float, то высота блок .header нулевая(его не видно) */
/* Данный псевдокласс здесь для токго, чтобы высота блока .header догоняла дочерние float блоки */
.header:after{
    content: "";
    display: block; /* Отображать как блочный элемент */
    width: 100%;    /* Шрина 100% от ширины родиеля. Родителем является .header */
    clear: both;    /* Отмена обтекания float элементов */
}

.header-text{
    float: left;    /* Свойство float переопределяет свойство display */
    max-width: 45%; /* Ширина контента 50% от ширины родителя, если текст длинее, то он переносятся на строку ниже */
    margin: 0;      /* Внешние отступы */
}

.header-img-product{
    float: right;  /* Свойство float переопределяет свойство display */
    width: 469px;  /* Ширина контента */
    height: 214px; /* Высота контента */
    background-color: white;
    border: 1px solid darkred;
    margin: 0;      /* Внешние отступы */
}

.header-text-title{
    display: inline-block;
    font-size: 60px;      /* Рзмер шрифта */
    font-weight: 400;     /* Насыщенность(жирность) от 100 до 900 */
    margin-bottom: 1rem;  /* Внешний отступ снизу */
}

.header-text-ul{
    list-style-type: none; /* Убрать маркеры */
    margin: 0px;  /* По у молчанию было 16px сверху */
    padding: 0px; /* По умолчанию было 40px слева */
    font-size: 20px;   /* Рзмер шрифта */
    font-weight: 400;  /* Насыщенность(жирность) от 100 до 900 */
    line-height: 36px; /* Высота строки, не путать с высотой шрифта */
}

.header-text-li-png{    /* Элемент li с картинкой png в роли маркера */
    margin-left: 30px;  /* Внешний отступ слева */
    position: relative; /* Дочерний элемент будет позиционирован свойством position: absolute; */
}
.header-text-li-png:before{ /* Родителем для класса :before является элемент li */
    content: "";
    display: block;     /* Отображать элемент как блочный */
    width: 20px;        /* Ширина контента */
    height: 20px;       /* Высота контента */
    position: absolute; /* Позиционирование относитеьно элемента li */
    top: 7px;           /* Отступ сверху */
    left: -30px;        /* Отступ слева, картинка выезжает в поле margin */
    background-image: url("../img/check_mark_16x16.png");

    /* Масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.*/
    -webkit-background-size: contain; /* Safari до версии 4.1 и Chrome до версии 3.0 */
    -o-background-size: contain;      /* Opera до версии 10.53 */
    -moz-background-size: contain;    /* Firefox до версии 4.0 */
    background-size: contain;
    
    background-repeat: no-repeat; /* Отображать фоновую картинку один раз без повторов */
    background-position: center;  /* Расположить фоновую картинку по центу */
}

.header-text-li-ico{    /* Элемент li с иконочным символом в роли маркера */
    margin-left: 30px;  /* Внешний отступ слева */
    position: relative; /* Дочерний элемент будет позиционирован свойством position: absolute; */
}
.header-text-li-ico:before{ /* Родителем для класса :before является элемент li */
    font-family: "font_icons";
    content: '\e800';
    display: block;     /* Отображать элемент как блочный */
    width: 20px;        /* Ширина контента */
    height: 20px;       /* Высота контента */
    position: absolute; /* Позиционирование относитеьно элемента li */
    top: 0px;           /* Отступ сверху */
    left: -30px;        /* Отступ слева, иконочный символ выезжает в поле margin */
}

/*====================================================================*/
/*                                                 About your product */
/*====================================================================*/
.about{
    background-color: white;
    padding: 50px;  /* внутренний отступ */
    box-sizing: border-box;  /*width(height) = content+padding+border */
    width: 100%;    /* Ширина элемента 100% от ширины родителя */

    display: flex;
    flex-direction: row; /* Основная ось по горизонтали */
    justify-content: space-between; /* Элементы отображаются с одинаковыми отступами между ними. */
    /* flex НЕ схлопывает внешние отступы margin дочерних элементов */
}

.about-text{
    margin: 0 0 0 0;  /* Внешние отступы 12,3,6,9 */
}

.about-video{
    display: inline-block;
    margin: 0 0 0 101px;  /* Внешние отступы 12,3,6,9 */
    min-width: 430px;     /* Ширина контента не менее!, иначе flex может его ужать */
    height: 245px;        /* Высота контента */
    background-color: #445161;
}

.about-text-title{
    display: inline-block;
    margin: 0 0 1rem 0;   /* Внешние отступы */    
    color: #445161;     /* Цвет текста */
    font-size: 30px;      /* Рзмер шрифта */
    font-weight: 400;     /* Насыщенность(жирность) от 100 до 900 */
    margin-bottom: 1rem;  /* Внешний отступ снизу */
}

.about-text-p{
    margin: 0 0 1rem 0;   /* Внешние отступы */    
    color: #333333;     /* Цвет текста */
    font-size: 16px;      /* Рзмер шрифта */
    line-height: 24px;    /* Высота строки, не путать с размером шрифта */
    font-weight: 400;     /* Насыщенность(жирность) от 100 до 900 */
    margin-bottom: 1rem;  /* Внешний отступ снизу */
}

.about-text-p:last-child{ /* Последний абзац */
    margin-bottom: 0;     /* Внешний отступ снизу */
}

/*====================================================================*/
/*                                                            Dignity */
/*====================================================================*/

.dignity{
    background-color: #f5f5f5;
    padding: 50px 50px 10px 50px;  /* внутренний отступ 12,3,6,9 */
    box-sizing: border-box;  /*width(height) = content+padding+border */
    width: 100%;    /* Ширина элемента 100% от ширины родителя */
}

.dignity-title{
    display: block;     /* Отображать элемент как блочный */
    color: #445161;   /* Цвет текста */
    font-size: 30px;    /* Размер шрифта */
    font-weight: 400;   /* Насыщенность(жирность) шрифта 100-900 */
    text-align: center; /* Выравнивание текста по горизонтали по центру */
    margin: 0 0 2rem 0; /* Внешние отступы 12,3,6,9 */
}

/* 1200 - (50*2) = 1100.  1100/2 = 550.  550 = (50 + 500) */
.dignity-column-a,
.dignity-column-b{
    display: inline-block;
    width: 500px;          /* Ширина контента */
    margin: 0 0 40px 40px; /* Внешние отступы 12,3,6,9 */
}

.dignity-p{
    margin: 0 0 1rem 0; /* Внешние отступы 12,3,6,9 */
    color: #333333;   /* Цвет текста */
    font-size: 16px;    /* Размер шрифта */
    font-weight: 400;   /* Насыщенность(жирность) шрифта 100-900 */
    line-height: 24px;  /* Высота строки, не путать с размером шрифта */
    position: relative; /* Декоративные дочерние элементы будут размещены через position:absolute */
}

.dignity-p:last-child{ /* Последний абзац */
    margin-bottom: 0;  /* Внешний отступ снизу */
}

/* Рисуем квадратик с плюсом */
.dignity-p:before{  /* Родителем для псевдокласса before является абзац <p> */
    content: "";
    display: block; /* Отображать элемент как блок */
    width: 32px;    /* Ширина контента */
    height: 32px;   /* Высота контента */
    background-color: #445161;
    position: absolute; /* Позицианируем декоративный элемент относительно родителя с position:relative; */
    top: 0px;    /* Отступ сверху */
    left: -35px; /* Отступ слева, плюсик заезжает в поле margin */

    background-image: url("../img/white_plus_32x32.png");

    /* Масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.*/
    -webkit-background-size: contain; /* Safari до версии 4.1 и Chrome до версии 3.0 */
    -o-background-size: contain;      /* Opera до версии 10.53 */
    -moz-background-size: contain;    /* Firefox до версии 4.0 */
    background-size: contain;
    
    background-repeat: no-repeat; /* Отображать фоновую картинку один раз без повторов */
    background-position: center;  /* Расположить фоновую картинку по центу */
}

/* Фоновые цвета для отладки */
/* .dignity{
    background-color: coral;
}
.dignity-column-a{
    background-color: lightgreen;
}
.dignity-column-b{
    background-color: lightblue;
} */


/*====================================================================*/
/*                                                      Dignity2 flex */
/*====================================================================*/

.dignity2{
    background-color: #f5f5f5;
    padding: 50px 50px 10px 50px;  /* внутренний отступ 12,3,6,9 */
    box-sizing: border-box;  /*width(height) = content+padding+border */
    width: 100%;    /* Ширина элемента 100% от ширины родителя */

    display: flex;
    flex-direction: row; /* Гланая ось по горизонтали */
    flex-wrap: wrap; /* Разрешить перенос элементов на новую строку */
    justify-content: space-between; /* Элементы отображаются с одинаковыми отступами между ними */
}

.dignity2-title{
    display: block;     /* Отображать элемент как блочный */
    width: 100%;        /* Ширина 100% от ширины родителя (для flex)*/

    color: #445161;   /* Цвет текста */
    font-size: 30px;    /* Размер шрифта */
    font-weight: 400;   /* Насыщенность(жирность) шрифта 100-900 */
    text-align: center; /* Выравнивание текста по горизонтали по центру */
    margin: 0 0 2rem 0; /* Внешние отступы 12,3,6,9 */
}

/* 1200 - (50*2) = 1100.  1100/2 = 550.  550 = (50 + 500) */
.dignity2-column-a,
.dignity2-column-b{
    width: 500px;          /* Ширина контента */
    margin: 0 0 40px 40px; /* Внешние отступы 12,3,6,9 */
}


/* Элементы details имеют внешний отступ снизу, кроме последнего элемента,
   так как ниже последнего элемента будет margin контэйнера .dignity2-column-a/b */
.dignity2-details{
    margin-bottom: 1rem; /* Внеший отступ снизу */
    position: relative;  /* Внутри буду декоративные элементы с position:absolute */
}
.dignity2-details:last-child{ /* Убираем внешний отступ у последнего элемента */
    margin-bottom: 0rem; /* Внеший отступ снизу */
}

.dignity2-details-summary{
    display: block;     /* Отображать элемент как блочный */
    color: #333333;   /* Цвет текста */
    font-size: 16px;    /* Размер шрифта */
    font-weight: 400;   /* Насыщенность(жирность) шрифта 100-900 */
    line-height: 24px;  /* Высота строки, не путать с размером шрифта */
}

/* Убираем подсветку outline, которая по умолчанию отображается при нажатии на элемент */
.dignity2-details-summary:focus{
    outline: none;
}

.dignity2-details-summary::-webkit-details-marker{ /* Здесь две точки обязательны */
    display: none; /* Не отображать маркер по умолчанию(стрелка) */
}

/* Добавляем картинку с плюсом для закрытого состояния */
.dignity2-details-summary:before{
    content: "";
    display: block; /* Отображать элемент как блок */
    width: 32px;    /* Ширина контента */
    height: 32px;   /* Высота контента */
    background-color: #445161;
    position: absolute; /* Позицианируем декоративный элемент относительно родителя с position:relative; */
    top: 0px;    /* Отступ сверху */
    left: -35px; /* Отступ слева, плюсик заезжает в поле margin */

    background-image: url("../img/white_plus_32x32.png");

    /* Масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.*/
    -webkit-background-size: contain; /* Safari до версии 4.1 и Chrome до версии 3.0 */
    -o-background-size: contain;      /* Opera до версии 10.53 */
    -moz-background-size: contain;    /* Firefox до версии 4.0 */
    background-size: contain;
    
    background-repeat: no-repeat; /* Отображать фоновую картинку один раз без повторов */
    background-position: center;  /* Расположить фоновую картинку по центу */
}

/* Добавляем картинку с минусом для открытого состояния */
.dignity2-details[open] > summary:before{
    content: "";
    display: block; /* Отображать элемент как блок */
    width: 32px;    /* Ширина контента */
    height: 32px;   /* Высота контента */
    background-color: #445161;
    position: absolute; /* Позицианируем декоративный элемент относительно родителя с position:relative; */
    top: 0px;    /* Отступ сверху */
    left: -35px; /* Отступ слева, плюсик заезжает в поле margin */

    background-image: url("../img/white_minus_32x32.png");

    /* Масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.*/
    -webkit-background-size: contain; /* Safari до версии 4.1 и Chrome до версии 3.0 */
    -o-background-size: contain;      /* Opera до версии 10.53 */
    -moz-background-size: contain;    /* Firefox до версии 4.0 */
    background-size: contain;
    
    background-repeat: no-repeat; /* Отображать фоновую картинку один раз без повторов */
    background-position: center;  /* Расположить фоновую картинку по центу */
}

/* Фоновые цвета для отладки */
/* .dignity2{
    background-color: coral;
}
.dignity2-title{
    background-color: orange;
}
.dignity2-column-a{
    background-color: lightgreen;
}
.dignity2-column-b{
    background-color: lightblue;
} */

/*====================================================================*/
/*                                                        Screenshots */
/*====================================================================*/

.screens{
    background-color: white;
    padding: 50px 50px 10px 50px;  /* внутренний отступ 12,3,6,9 */
    box-sizing: border-box;  /*width(height) = content+padding+border */
    width: 100%;    /* Ширина элемента 100% от ширины родителя */

    display: flex;
    flex-direction: row; /* Гланая ось по горизонтали */
    flex-wrap: wrap; /* Разрешить перенос элементов на новую строку */
    justify-content: space-between; /* Элементы отображаются с одинаковыми отступами между ними */
}

.screens-title{
    display: block;     /* Отображать элемент как блочный */
    min-width: 100%;    /* Ширина 100% от ширины родителя (для flex)*/

    color: #445161;   /* Цвет текста */
    font-size: 30px;    /* Размер шрифта */
    font-weight: 400;   /* Насыщенность(жирность) шрифта 100-900 */
    text-align: center; /* Выравнивание текста по горизонтали по центру */
    margin: 0 0 2rem 0; /* Внешние отступы 12,3,6,9 */
}

.screen-item{
    width: 49%;         /* Ширина 50% от ширины родителя */
    margin: 0 0 40px 0px; /* Внешние отступы 12,3,6,9 */
    display: flex; /* Это flex контэйнер в котором есть дочерние блоки -img и -txtbox */
}

.screen-item-img{
    display: block;      /* Отображать элемент как блочный */
    margin: 0 10px 0 0px;   /* Внешние отступы 12,3,6,9 */
    min-width: 200px;    /* Ширина контента не менее!, иначе flex может его ужать */
    height: 150px;       /* Высота контента */
    background-color: #445161;
    color: white;     /* Цвет текста атрибута alt */
}

.screen-item-txtbox-title{
    display: block;
    color: #445161;    /* Цвет текста */
    font-size: 24px;     /* Размер шрифта */
    font-weight: 400;    /* Насыщенность(жирность) шрифта 100-900 */
    margin-bottom: 1rem; /* Внешний отступ снизу */
}

.screen-item-txtbox-p{
    margin: 0 0 0 0;   /* Внешние отступы 12,3,6,9 */
    color: #333333;  /* Цвет текста */
    font-size: 16px;   /* Размер шрифта */
    font-weight: 400;  /* Насыщенность(жирность) шрифта 100-900 */
    line-height: 24px; /* Высота строки, не путать с высотой шрифта */
}

/* Фоновые цвета для отладки */
.screens{
    background-color: coral;
}
.screens-title{
    background-color: orange;
}
.screen-item{
    background-color: lightgreen;
}
.screen-item-txtbox{
    background-color: navajowhite;
}







