
body{
    margin: 0px; /* У элемента body по умолчанию были внешние отступы */
    font-family: Arial, sans-serif;  /* Шрифт Arial или какой-либо другой без засечек */
}

.body_container{
    max-width: 1200px; /* Если окно меньше, то float блоки перестраиваются друг под друга */
    margin: 0px auto;  /* Центрирование по горизонтали */
    min-height: 323px; /* Если текст не уместится, то высота блока увеличится */
}

.header{
    background-color: #445162;
    color: white; /* Цвет текста */
    padding-bottom: 50px; /* внутренний отступ снизу */
 }

/* Так как всем дочерним элементам блока .header задано свойство float, то высота блок .header нулевая(его не видно) */
/* Данный псевдокласс здесь для токго, чтобы высота блока .header догоняла дочерние float блоки */
.header:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header-text{
    /* background-color: coral; */
    float: left;
    margin-top: 50px;   /* Внешний отступ сверху */
    margin-left: 50px;  /* Внешний отступ слева */

    max-width: 45%; /* Ширина контента 50% от ширины родителя, если текст длинее, то он переносятся на строку ниже */
}

.header-img_product{
    /* display: inline-block;  */
    /* Для inline-block элемента можно задавать ширину и высоту контента */
    /* Свойство float отменяет свойство display */
    width: 469px;  /* Ширина контента */
    height: 214px; /* Высота контента */
    background-color: white;
    border: 1px solid darkred;

    float: right;       /* Свойство float отменяет свойство display */
    margin-top: 50px;   /* Внешний отступ сверху */
    margin-right: 50px; /* Внешний отступ справа */
    margin-left: 20px;  /* Внешний отступ слева */
}

.header-text-h{
    font-size: 60px;      /* Рзмер шрифта */
    font-weight: 400;     /* Насыщенность(жирность) от 100 до 900 */
    margin-bottom: 1rem;  /* Внешний отступ снизу */
}

.header-text-ul{
    list-style-type: none; /* Убрать маркеры */
    margin: 0px;  /* По у молчанию было 16px сверху */
    padding: 0px; /* По умолчанию было 40px слева */

    font-size: 20px;  /* Рзмер шрифта */
    font-weight: 400; /* Насыщенность(жирность) от 100 до 900 */
    line-height: 36px; 
}

.header-text-li-png{
    margin-left: 30px;
    position: relative;
}
.header-text-li-png:before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    position: absolute;
    top: 7px;
    left: -30px;
    background-image: url("../img/check_mark_16x16.png");

    /* Масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.*/
    -webkit-background-size: contain; /* Safari до версии 4.1 и Chrome до версии 3.0 */
    -o-background-size: contain;      /* Opera до версии 10.53 */
    -moz-background-size: contain;    /* Firefox до версии 4.0 */
    background-size: contain;
    
    background-repeat: no-repeat;
    background-position: center;
}


